@model IEnumerable<Restify.Models.Landlord>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Restify.styles.css" asp-append-version="true" />
</head>
<body>

<h1>Registered Landlords</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table id="landlords" class="table table-responsive">
        <thead style="background-color:#56327E">
        <tr>
            <th class="text-white">First Name</th>
            <th class="text-white">Last Name</th>
            <th class="text-white">Email</th>
            <th class="text-white">Contact</th>
            <th class="text-white">Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.landlord_firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.landlord_lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.landlord_email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.landlord_contact)
            </td>
 
            <td>
                <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.landlord_id">Edit</a> |
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.landlord_id">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.landlord_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
    <script>
        let myDataTable = new DataTable('#landlords', {
            layout: {
                topStart: {
                    buttons: ['csv', 'excel', 'pdf', 'print']
                }

            }


        });
    </script>

</body>
</html>